<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magicae | Adicionar Aluno</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header class="bodoni-moda-sc-principal header">
        <ul>
            <li><a href="{{url_for('professores')}}">Professores</a></li>
            <li><a href="{{url_for('alunos')}}">Alunos</a></li>
            <li><a href="{{url_for('feiticos')}}">Feitiços</a></li>
            <li><a href="{{url_for('disciplinas')}}">Disciplinas</a></li>
        </ul>
    </header>
    <div class="form-container">
        <h1>Adicionar Aluno</h1>

        <form method="POST">
            <label for="nome">Nome:</label><br>
            <input type="text" id="nome" name="nome"><br>
            <label for="data_nascimento">Data de Nascimento:</label><br>
            <input type="date" id="data_nascimento" name="data_nascimento"><br>
            <label for="casa_id">Casa:</label><br>
            <select id="casa_id" name="casa_id">
                {% for casa in casas %}
                    <option value="{{ casa.id }}">{{ casa.nome }}</option>
                {% endfor %}
            </select><br>
            <label for="feitico_favorito_id">Feitiço Favorito:</label><br>
            <select id="feitico_favorito_id" name="feitico_favorito_id">
                {% for feitico in feiticos %}
                    <option value="{{ feitico.id }}">{{ feitico.nome }}</option>
                {% endfor %}
            </select><br>
            <label for="disciplina_id">Disciplina:</label><br>
            <select id="disciplina_id" name="disciplina_id">
                {% for disciplina in disciplinas %}
                    <option value="{{ disciplina.id }}">{{ disciplina.nome }}</option>
                {% endfor %}
            </select><br>
            <label for="patrono">Patrono:</label><br>
            <input type="text" id="patrono" name="patrono"><br>
            <input type="submit" value="Enviar">
        </form>
    </div>
</body>
</html>