<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magicae | Alunos</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/alunos.css">

</head>
<body>
    <header class="bodoni-moda-sc-principal header">
        <ul>
            <li><a href="{{url_for('professores')}}">Professores</a></li>
            <li><a href="{{url_for('alunos')}}">Alunos</a></li>
            <li><a href="{{url_for('feiticos')}}">Feitiços</a></li>
            <li><a href="{{url_for('disciplinas')}}">Disciplinas</a></li>
        </ul>
    </header>
    <main class="alunos_container">
        <h1>Alunos</h1>
        <a class="adicionar_aluno" href="{{url_for('adicionar_aluno')}}"> + Adicionar novo aluno</a>
        
        <div class="alunos_cards">
            {% for aluno in alunos %}
            <div class="aluno_card">
                <h2>{{ aluno.nome }}</h2>
                <div>Idade: {{ aluno.idade }}</div>
                <div>Casa: {{ aluno.casa_nome }}</div>
                <div>Feitiço Favorito: {{ aluno.feitico_favorito }}</div>
                <div>Patrono: {{ aluno.patrono }}</div>
                <div>Disciplina favorita: {{ aluno.disciplina_nome }}</div>
                <a href="{{ url_for('editar_aluno', id=aluno.id) }}">Editar</a>
                <form action="{{ url_for('excluir_aluno', id=aluno.id) }}" method="post" style="display:inline;">
                    <button type="submit">Excluir</button>
                </form>
            </div>
            {% endfor %}
        </div>
    </main>

</body>
</html>
